body{
	
}

.container{
	max-width: 1000px;
}

.set-item{
	cursor: pointer;
	padding: 13px;
}

.set-item.selected{
	background-color: #518DC1;
}

.set-item.selected p{
	color: #FFFFFF;
}


#sortable-set span{
	position: absolute;
}

footer p{
	text-align: center;
}